@font-fase {
	font-family: "SF UI Display";
    src: url(../font/SFUIDisplay-Thin.woff2) format("woff2"),
        url(../font/SFUIDisplay-Thin.woff) format("woff");
    font-weight: 100;
    font-style: normal; 
}
@font-face {
	font-family: "SF UI Display";
    src: url(../font/SFUIDisplay-Regular.woff2) format("woff2"),
        url(../font/SFUIDisplay-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin: 0 auto;
	font-family: "SF UI Display", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header-logo {
	align-content: center;
	align-items: center;
	background-color: #000;
	border-bottom: 7px solid #00b2e6;
	color: #fff;
	display: flex;
	justify-content: center;
	text-align: center;
}
.header-logo__title {
	font-size: 25px;
	line-height: 1.4em;
	font-weight: 100;
	margin: 0;
	min-height: 55px;
	padding: 10px 5px 5px;
	text-transform: uppercase;
}
.accent {
	color: #00b2e6;
}
.header-menu {
	width: 100%;
	position: relative;
	background-color: #1e1e1e;
	border-bottom: 7px solid #e6e6e6;
}
.header-menu__item--smartphone {
	background-image: url(../img/smartphone.png);
}
.header-menu__item--tablet {
	background-image: url(../img/tablet.png);
}
.header-menu__item--watch {
	background-image: url(../img/watch.png);
}
.header-menu__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	margin: 0 auto;
	max-width: 1140px;
	min-height: 55px;
	overflow: visible;
	padding: 0;
}
.header-menu__items {
	margin: 0 20px;
	list-style: none;
	border-bottom: 1px solid #e6e6e6;
}
.header-menu__mobile {
	display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
}
.header-menu__wrraper {
	/*display: none;*/
	padding: 0px;
}
.header-menu__wrraper {
	position: absolute;
	top:0px;
	left: 0px;
	max-width: 400px;
	width: 100%;
	height: 650px;
	background-color: #ffffff;
	box-shadow: inset 0px 0px 38px 0px rgb(0, 0, 0);
	z-index: 1;
}
.header-menu__item--tel {
	padding: 10px 0 0;
}
.header-menu__item {
	background-position: 13%;
	background-repeat: no-repeat;
	border-right: 1px solid #4b4b4b;
	flex: 1 0 auto;
}
.header-menu__link {
	align-content: center;
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 16px;
	height: 100%;
	justify-content: center;
	min-height: 55px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	width: 100%;
}
.header-menu__link--tel {
	display: inline;
	padding-top: 10px;
	vertical-align: top;
}
.header-menu__link--tel .accent {
	font-size: 30px;
}
.header-menu__item--open {
	display: none;
}
.header-footer {
	background-color: #00b2e6;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,.5);
  display: block;
  list-style-type: none;
  padding: 20px;
  width: 100%
}
.header-footer__inner {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 25px;
  overflow: visible;
  padding: 0;
}
.header-footer__item {
	background-image: url(../img/arrow.png);
  background-position: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  flex: 1 0 auto;
  margin-right: 10px;
  position: relative
}
.header-footer__link {
	align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%
}
@media screen and (max-width: 767px) {
	.header-footer {
		display: none;
	}
	.header-menu__item {
		border-bottom: 1px solid #4b4b4b;
		border-right: none;
		width: 100%;
	}
	.header-menu__item--tel {
		padding: 10px 0 0 20%;
	}
	.header-menu__link {
		justify-content: center;
	}
	.header-menu__item--open {
	display: block;
	}
}
.description {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.description__inner {
	padding: 0 10px;
}
.description__title {
	margin: 0px;
  margin-bottom: 18px;
  padding: 0;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: #666666;
}
.description__text {
	margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
  text-indent: 20px;
  color: #666666;
}
.description__btn {
	display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 100;
  line-height: 50px;
  color: #ffffff;
  background-color: rgb(0, 178, 230);
  border: 0;
}
@media screen and (min-width: 767px) {
	.description__title {
		font-size: 36px;
	}
	.description__text {
		font-size: 26px;
	}
	.description__inner {
		padding-left: 0 36px;
	}
}
@media screen and (min-width: 1024px) {
	.description__inner {
		padding: 0 54px;
	}
	.description__text {
		font-size: 16px;
	}
}
.repair__title {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0px;
  margin-bottom: 38px;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  color: #666666;
}
.repair__title:before,
.repair__title:after {
	flex: 1 0 auto;
	content: "";
	height: 1px;
	background: #e6e6e6;
}
.repair__title:before {
	margin-right: 5px;
}
.repair__title:after {
	margin-left: 5px;
}
.repair__list {
	margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1140px;
  margin: 0 auto;
}
.repair__item {
	margin-bottom: 20px;
	list-style: none;
}
.repair__item:last-child {
	display: none;
}
.repair__link {
	text-decoration: none;
}
.repair__inner {
	display: block;
  width: 239px;
  min-height: 308px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #00b2e6;
}
.repair__img {
	padding: 19px;
}
.repair__text {
	font-weight: 100;
  margin: 0px;
  margin-bottom: auto;
  text-align: center;
  font-size: 20px;
}
@media screen and (min-width: 767px) {
	.repair__title {
		font-size: 36px;
	}
}
@media screen and (min-width: 1024px) {
	.repair__item:last-child {
		display: block;
	}
}
.contact__title {
	margin: 0px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  color: #8f8f8f;
}
.contact__name {
	margin: 0px;
	margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: #b8b8b8;
}
.contact__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.contact__item {
	list-style: none;
}
.contact__img {
	display: block;
	width: 100%;
	height: 100%;
}
.contact__header {
	padding: 0 15px;
	margin: 5px;
}
.contact__text {
	margin: 0px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 100;
}
.contact__link {
	text-decoration: none;
	color: #000000;
}
.contact__block {
	display: block;
}
.video__foto {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 20px;
}
.location__text {
	margin: 0px;
  font-size: 18px;
  font-weight: 100;
  text-align: justify;
  text-indent: 20px;
}
.location__inner {
	margin: 5px;
	padding: 15px;
}
.location {
	max-width: 1140px;
	margin: 0 auto;
}
@media screen and (min-width: 767px) {
	.contact__img {
		width: 360px;
		height: 100%;
	}
	.contact__text {
		margin-bottom: 24px;
    font-size: 22px;
	}
	.contact__item {
		flex-grow: 1;
	}
	.contact__header {
		max-width: 244px;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0px;
    margin: 0px;
	}
	.video__foto {
		padding: 20px;
    width: 750px;
	}
}
.advantages__title {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0px;
	margin-bottom: 75px;
	text-align: center;
	padding: 0px;
	font-size: 28px;
	font-weight: 100;
	color: #666666;
}
.advantages__title:before,
.advantages__title:after {
	flex: 1 0 auto;
	content: "";
	height: 1px;
	background: #e6e6e6;
}
.advantages__title:before {
	margin-right: 20px;
}
.advantages__title:after {
	margin-left: 20px;
}
.advantages__inner {
	display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0px 20px;
}
.advantages__item {
	margin-bottom: 62px;
	list-style: none;
}
.advantages__name {
	margin: 0px;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 100;
}
.advantages__text {
	margin: 0px;
  font-size: 18px;
  font-weight: 100;
}
@media screen and (min-width: 767px) {
	.advantages__item {
		display: flex;
		align-items: center;
		padding-left: 130px;
	}
	.advantages__title {
		font-size: 36px;
	}
	.advantanges__wrapper {
		max-width: 630px;
	}
	.advantanges__inner {
		padding: 0px;
	}
	.advantages__name {
		font-size: 28px;
	}
	.advantages__text {
		font-size: 20px;
	}
}
@media screen and (min-width: 1140px) {
	.advantages__item {
		width: 566px;
		padding: 0px;
	}
	.advantages__title {
		margin-bottom: 40px;
	}
	.advantages__inner {
		padding: 0px;
	}
	.advantages__wrpper {
		max-width: 295px;
		margin-right: auto;
	}
	.advantages__name {
		font-size: 23px;
	}
	.advantages__text {
		font-size: 16px;
	}
	.advantages__item--price {
		order: 4;
	}
	.advantages__item--warehouse {
		order: 3;
	}
}
.personal-data {
	margin-bottom: 50px;
}
.personal-data__title {
	margin: 0px;
	margin-bottom: 60px;
	padding: 0px;
	font-size: 26px;
	font-weight: 100;
	text-align: center;
	color: #666666;
}
.personal-data__text {
	margin: 0px;
	margin-bottom: 45px;
	padding: 0px 10px;
	font-size: 18px;
	font-weight: 100;
	text-indent: 20px;
	text-align: justify;
	color: #666666;
}
.personal-data__text a {
	display: block;
	color: #666666;
	text-decoration: none;
}

.personal-data__text:last-child {
	margin-bottom: 0px;
}
@media (min-width: 767px) {
	.personal-data {
		margin-bottom: 100px;
	}
	.personal-data__title {
		font-size: 36px;
	}
	.personal-data__text {
		padding-left: 25px;
		padding-right: 47px;
		font-size: 28px;
	}
}
.guidance__title {
	margin: 0px;
  margin-top: 16px;
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}
.guidance__text:first-child {
	margin-bottom: 0px;
}
.guidance__text {
	margin: 0px;
  margin-bottom: 40px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 100;
  text-indent: 20px;
  text-align: justify;
}
.guidance__name {
	margin: 0px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}
@media screen and (min-width: 767px) {
	.guidance__text {
		padding-left: 26px;
		padding-right: 46px;
		font-size: 30px;
	}
	.guidance__title {
		font-size: 36px;
	}
	.guidance__name {
		font-size: 30px;
	}
}
.order__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}
.order__item {
	display: flex;
	list-style: none;
}
.order__text {
	padding-left: 25px;
	font-size: 18px;
}
.order__text span {
	display: block;
}
.order__link {
	display: block;
  width: 250px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  font-weight: black;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #00b2e6;
  border: 1px solid #99cc00;
  border-radius: 10px;
}
.address {
	margin-bottom: 20px;
}
.address__inner {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}
.address__img {
	width: 160px;
	height: 100%;
	align-self: center;
}
.address__phone {
	align-self: center;
	text-decoration: none;
	color: #00b2e6;
	font-size: 20px;
}
.address__title {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	color: #1e1e1e;
}
.address__link {
	text-decoration: none;
	color: #00b2e6;
}
.address__text {
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	max-width: 372px;
	width: 100%;
	align-self: center;
	font-size: 20px;
	text-align: center;
	color: #00b2e6;
}
.address__text:last-child {
	color: #1e1e1e;
}
@media (min-width: 767px) {
	.address {
		margin-bottom: 50px;
	}
	.address__inner {
		padding-top: 70px;
	}
	.address__img--place {
		width: 280px;
	}
	.address__img--tel {
		width: 300px;
	}
	.address__inner {
		padding-top: 126px;
	}
	.address__title {
		font-size: 40px;
	}
	.address__text {
		max-width: 372px;
		width: 100%;
		font-size: 30px;
	}
	.address__phone {
		font-size: 30px;
	}
}
.feedback {
	width: 100%;
	margin-bottom: 25px;
}
.feedback__name {
	display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 100;
  color: #666666;
  text-align: center;
}
.feedback__name:before, 
.feedback__name:after {
	flex: 1 0 auto;
  display: block;
  content: "";
  height: 1px;
  background: #e6e6e6;
}
.feedback__name:before {
	margin-right: 20px;
}
.feedback__name:after {
	margin-left: 20px;
}
.feedback__form {
	background-image: url(../img/feedback-bg.png);
	background-position: 50% 50%;
	background-size: cover;
	margin: 0 auto;
	max-width: 1140px;
	padding: 25px;
	width: 100%;
}
.feedback__title {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 25px;
	max-width: 600px;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
}
placeholder {
	color: #ffffff;
}
.feedback__input {
	width: 100%;
	font-size: 30px;
	color: #fff;
	margin: 10px 0;
	max-width: 600px;
	outline: none;
	padding-left: 10px;
	border: none;
	background-color: hsla(0,0%,100%,.3);
	border-radius: 10px;
}
.feedback__text {
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	font-size: 30px;
	font-weight: 100;
	color: #ffffff;
}
.feedback__button {
	width: 180px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 36px;
	font-weight: 400;
	padding: 10px;
	background-color: #00b2e6;
	border: none;
	border-radius: 100px;
}
.feedback__link {
	color: #ffffff;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px solid #00b2e6;
}
@media (min-width: 320px) {
	.feedback__title {
		font-size: 24px;
	}
	.feedback__form {
		padding: 10px;
	}
	.feedback__input {
		font-size: 18px;
		line-height: 30px;
	}
	.feedback__text {
		font-size: 18px;
	}
	.feedback__button {
		font-size: 20px;
	}
}
@media (min-width: 750px) {
	.feedback__title {
		font-size: 36px;
	}
	.feedback__name {
		font-size: 36px;
	}
	.feedback__input {
		font-size: 30px;
		line-height: 40px;
	}
	.feedback__text {
		max-width: 840px;
		width: 100%;
		font-size: 30px;
	}
	.feedback__button {
		font-size: 30px;
	}
}
.footer {
	width: 100%;
}
.footer__inner {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto auto 0;
  max-width: 1140px;
  overflow: hidden;
  padding: 20px 0 40px;
}
.footer-head {
	background-color: #00b2e6;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
	color: #fff;
}
.footer-head__inner {
	display: flex;
	flex-direction: column;
	margin: auto 20px 0;
	max-width: 1140px;
	overflow: visible;
	padding: 5px 0;
	text-align: center;
}
.footer-head__item {
	flex: 1 0 auto;
	margin: auto;
	padding: 5px;
}
.footer-head__link {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	white-space: nowrap;
}
.footer-social {
	align-items: baseline;
	display: flex;
	justify-content: space-around;
	width: 187px;
	padding: 0px;
	list-style: none;
}
.footer-social__link {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 47px;
	width: 47px;
}
.footer-social__link--vk {
	background-image: url(../img/vk.png);
}
.footer-social__link--instagram {
	background-image: url(../img/inst.png);
}
.footer-social__link--youtube {
	background-image: url(../img/youtube.png);
}
@media screen and (min-width: 768px) {
	.footer-head__inner {
		margin: auto auto 0;
		text-align: center;
	}
	.footer-head__link {
		font-size: 40px;
	}
}
.footer-list__wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}
.footer-list {
  font-size: 18px;
  line-height: 1.5em;
  list-style-type: none;
  margin: 18px auto;
  padding: 0;
}
.footer-list__point {
	color: #6c6c6c;
	font-size: 18px;
	text-align: center;
}
.footer-list__title {
  color: #000;
  font-size: 26px;
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
}
.footer-list__link {
  color: #6c6c6c;
  text-decoration: none;
  white-space: nowrap;
}
.footer-list__wrapper:last-child {
	border-right: none;
}
@media screen and (min-width: 768px) {
	.footer-list__wrapper {
		border-right: 1px solid #00b2e6;
	}
	.footer-list--first {
		margin-left: 0;
	}
	.footer-list--last {
		margin-right: 0;
	}
}
@media screen and (min-width: 1140px) {
	.footer-list--first {
		margin: 18px auto;
	}
	.footer-list--last {
		margin: 18px auto;
	}
	.footer-list__title {
		font-size: 25px;
		text-align: left;
	}
	.footer-list__point {
		text-align: left;
	}
}
.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}
.main__title {
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	font-weight: 100;
	text-align: center;
	color: #666666;
}
.catalog__model {
	display: block;
  margin: 20px;
  padding: 15px;
  flex: 1 0 25%;
  font-size: 28px;
  font-weight: 100;
  color: #262626;
  text-align: center;
  text-decoration: none;
  background: #fff;
  z-index: 1;
}
.catalog__model:last-child {
	display: none;
}
@media screen and (max-width: 480px) {
	.catalog__model {
		flex: 0 0 100%;
    max-width: calc(100% - 5px);
	}
}
@media screen and (max-width: 767px) {
	.catalog__model {
		flex: 1 0 50%;
		margin: 5px;
		font-size: 18px;
		font-weight: 100;
	}
	.main__title {
		font-size: 28px;
	}
}
@media screen and (min-width: 1024px) {
	.catalog__model {
		font-size: 18px;
	}
	.catalog__model:last-child {
		display: block;
	}
}
.product__header {
	width: 100%;
	margin: 0px;
	padding: 0 20px 20px;
	font-size: 16px;
	font-weight: 100;
	border-collapse: collapse;
}
.product__title {
	font-size: 36px;
	font-weight: 100;
	text-align: center;
	color: #666666;
}
.product__img {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}
.product__name {
	font-size: 16px;
	font-weight: 100;
	color: #ffffff;
	text-align: center;
  padding: 7px 0;
  vertical-align: top;
  background: #00a9e0;
  border: 0;
}
.product__point {
	display: block;
	font-style: italic;
}
.product__list {
	min-height: 170px;
}
.product__list:nth-child(2n+1) {
	background-color: #f3f1f1;
}
.product__header td {
	padding: 7px 30px;
	color: #3c3c3c;
	border: 0;
	font-weight: 100;
	text-align: center;
	min-height: 170px;
}
.product__header td:first-child {
	text-align: left;
} 
@media screen and (min-width: 1024px) {
	.product__header {
		margin: 0 auto 0 0;
	}
}
@media (max-width: 767px) and (min-width: 320px) {
	.product__header td {
		padding: 7px 2px;
	}
	.product__title {
		font-size: 28px;
		color: #666666;
	}
}
.slider {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}
.owl-stage-outer {
	position: relative;
	overflow: hidden;
	max-width: 1140px;
	margin: 0 auto;
}
.owl-stage {
	position: relative;
}
.owl-item {
	flex: 1 0 auto;
}
.slider__top {
	display: block;
	text-decoration: none;
	flex: 1 0 100%;
	width: 100%;
	height: 100%;
}
.slider__top img {
	width: 100%;
	height: 100%;
}
.owl-dots {
	position: absolute;
	left: 45%;
	bottom: 16%;
}
.owl-dot {
	display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: #0ebdf3;
  border: 2px solid #0ebdf3;
  border-radius: 50%;
  cursor: pointer;
}
.owl-nav {
	position: absolute;

}
@media screen and (max-width: 1023px) {
	.slider__top {
		min-height: 160px;
		background-size: cover;
		margin-bottom: -5px;
	}
}
@media screen and (min-width: 1024px) {
	.slider__top {
		min-height: 490px;
		background-size: contain;
	}
}
